* {
  @apply tracking-wide;
}

//自定義 input focus效果
.inputContainer {
  .inputText:focus + .inputLabel,
  :not(:placeholder-shown) + .inputLabel {
    @apply -translate-y-4 pl-1 pr-2 text-sm text-inputBorderFocus;
  }
}

//alert animation
@keyframes alertAnimation {
  from {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(40%) translateX(-50%);
    opacity: 1;
    @apply absolute left-1/2 top-0;
  }
}
.alertAnimation {
  animation: alertAnimation 0.5s ease-out forwards;
}






.componentContainer {
  @apply flex flex-col items-center justify-start mx-40 mt-20 gap-4 bg-white font-light h-fit p-10 rounded-3xl shadow-lg
}
.componentTitle{
  @apply text-xl
}